.origin-widget.origin-widget-button-simple-slate a {
  display: inline-block;
  padding: 10px 45px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #35454F;
  font-size: 0.875em;
  font-family: inherit;
  font-weight: 500;
  text-decoration: none;
  text-shadow: 0 1px 0 #CEE1ED;
  text-align: center;
  -webkit-box-shadow: inset 0 1px 0 #C0D3DF, 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 1px 0 #C0D3DF, 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 0 #C0D3DF, 0 1px 2px rgba(0,0,0,0.1);
  background: #a5b7c3;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#9CAEB9),color-stop(1,#AEC1CD));
  background: -ms-linear-gradient(bottom,#9CAEB9,#AEC1CD);
  background: -moz-linear-gradient(center bottom,#9CAEB9 0%,#AEC1CD 100%);
  background: -o-linear-gradient(#AEC1CD,#9CAEB9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#aec1cd', endColorstr='#9caeb9', GradientType=0);
  border-top: solid 1px #80919E;
  border-left: solid 1px #768793;
  border-right: solid 1px #768793;
  border-bottom: solid 1px #6C7D89;
}
.origin-widget.origin-widget-button-simple-slate a:hover {
  background: #AABCC8;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#A1B2BE),color-stop(1,#B4C6D2));
  background: -ms-linear-gradient(bottom,#A1B2BE,#B4C6D2);
  background: -moz-linear-gradient(center bottom,#A1B2BE 0%,#B4C6D2 100%);
  background: -o-linear-gradient(#B4C6D2,#A1B2BE);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b4c6d2', endColorstr='#a1b2be', GradientType=0);
  border-top: solid 1px #8596A2;
  border-left: solid 1px #7B8C97;
  border-right: solid 1px #7B8C97;
  border-bottom: solid 1px #71828D;
}
.origin-widget.origin-widget-button-simple-slate a:active {
  background: #A0B2BE;
  background: -webkit-gradient(linear,left bottom,left top,color-stop(0,#A5B7C4),color-stop(1,#9BADB9));
  background: -ms-linear-gradient(bottom,#A5B7C4,#9BADB9);
  background: -moz-linear-gradient(center bottom,#A5B7C4 0%,#9BADB9 100%);
  background: -o-linear-gradient(#9BADB9,#A5B7C4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9badb9', endColorstr='#a5b7c4', GradientType=0);
  border-top: solid 1px #7B8D98;
  border-left: solid 1px #71838E;
  border-right: solid 1px #71838E;
  border-bottom: solid 1px #677984;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding-top: 11px;
  padding-bottom: 9px;
}
.origin-widget.origin-widget-button-simple-slate.align-left {
  text-align: left;
}
.origin-widget.origin-widget-button-simple-slate.align-right {
  text-align: right;
}
.origin-widget.origin-widget-button-simple-slate.align-center {
  text-align: center;
}
.origin-widget.origin-widget-button-simple-slate.align-justify a {
  display: block;
}
