.origin-widget.origin-widget-list-simple-charcoal ul {
  margin: 0;
  padding: 0;
}
.origin-widget.origin-widget-list-simple-charcoal ul li {
  list-style: url(http://lightningspirit.local/wp-content/plugins/siteorigin-panels/widgets/img/checks/charcoal.png);
  line-height: 2em;
  margin-left: 24px;
  padding-left: 6px;
}
